#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

tbody {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  border-top: 1px solid #ddd;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

