#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}


table {
  width: 100%;
  border-radius: 15px;
  margin-top: 1rem;
}

tbody {
  background-color: beige;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(247, 25, 25, 20);
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 1%;
  text-align: center;
  border-bottom: 2px solid #552a2a;
  border-radius: 15px 15px 0 0;
  color: #552a2a;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 30);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

td{
  padding: 1%;
  text-align: center;
}

tr{
  border-bottom: 1px solid #552a2a;
  transition: background-color 0.3s ease;
border-radius: 25px;
}
  
tr:hover {
  background-color: #3bdbb9;
}